.drop{
    display: flex;
    flex-direction: column;
     gap: 10px;
     padding: 10px;
     background-color: rgb(195, 168, 168);
     position: absolute;
     border-radius: 20px;
     display: none;
    transition: 0.5s;

}
.active{
   top:110%;
    display:flex;
}
li{
    padding: 10px;
    border-radius:10px;
    position: relative;


}
li:hover{
    background-color: blueviolet;
}